*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    min-height: 100vh;
    font-family: Open sans, sans-serif;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    padding: clamp(20px, 5vw, 50px) 20px 10px;

}

h1{
    font-family: serif;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
    color: #0e0e0e;
    letter-spacing: 2px;
}
h1 span{
    font-weight: 700;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.question-block{
    padding: 25px;
}